:root {
  --ff-family: "Overpass", sans-serif;

  --bg-dark-blue: hsl(228, 11%, 9%);
  --bg-gradient-top: hsl(212, 19%, 15%);
  --bg-gradient-bottom: hsl(215, 27%, 12%);
  --bg-gradient: linear-gradient(
    to bottom,
    var(--bg-gradient-top),
    var(--bg-gradient-bottom)
  );
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--ff-family);
  background-color: var(--bg-dark-blue);

  display: grid;
  place-content: center;
  min-height: 100vh;
  min-width: 100vw;
  padding-inline: 2rem;
}
