:root {
  --ff-family: "Overpass", sans-serif;

  --bg-dark-blue: hsl(216, 12%, 8%);
  --bg-gradient-top: hsl(212, 19%, 15%);
  --bg-gradient-bottom: hsl(213, 19%, 18%);
  --bg-gradient: linear-gradient(
    to bottom,
    var(--bg-gradient-top),
    var(--bg-gradient-bottom)
  );
  --bg-star-gray: hsl(205, 19%, 18%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-grey: hsl(217, 12%, 63%);
  --bg-grey: hsl(216, 12%, 54%);
  --bg-orange: hsl(25, 97%, 53%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--ff-family);
  background-color: var(--bg-dark-blue);

  display: grid;
  place-content: center;
  min-height: 100vh;
  min-width: 100vw;
  padding-inline: 2rem;
  color: var(--clr-grey);
  font-size: 1.5rem;
  font-weight: 400;
}
