.card {
  width: 33rem;
  /* height: 36rem; */
  background-image: var(--bg-gradient);
  border-radius: 2rem;
  padding: 3rem;
}

@media (min-width: 768px) {
  .card {
    width: 41rem;
    /* height: 42rem; */
  }
}
